:root {
	--primary-color: #FF4C29;
	--secondary-black: #0d081a;
	--secondary-gray: #48464b;
	--body-bg: #FAEBEB;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
	font-family: 'Roboto Mono', monospace;
}

section {
	margin-top: 100px;
}

.section-heading {
	font-size: 48px;
	font-family: 'Montserrat';
	letter-spacing: 0.1rem;
	text-align: center;
	margin-bottom: 8rem;
}

.primary-btn {
	display: inline-block;
	background-color: var(--primary-color);
	color: white;
    text-decoration: none;
	font-size: 18px;
	padding: 0.6em 1.6em;
	border-radius: 50px;
    margin: 40px 0;
}

/* Hero section Styles */
.heading{
	font-family: 'Montserrat';
    font-size: 64px;
    font-weight: 800;
}

.subheading {
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--primary-color);
}


/* About Styles */

#about .section-heading {
    text-align: center;
}


.subheading {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.slogan {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Footer */
#footer {
	padding: 1rem 0;
    color: white;
	background-color: #ff3d16;
    margin-top: 100px;
}